*@charset "UTF-8";

:root{
    --cor0: #00E034;
    --cor1: #1EB642;
    --cor2: #2E8B44;
    --cor3: #30613C;
    --cor4: #243628;
    --cor5: #2B332C;
    --dou: #ba8b00;
}

main{
    height: 100vh;
    background: var(--cor3) url('imagens/walpaper1-jpg.jpg') center center no-repeat fixed;
    background-size: cover;
}