*@charset "UTF-8";

:root{
    --cor0: #00E034;
    --cor1: #1EB642;
    --cor2: #2E8B44;
    --cor3: #30613C;
    --cor4: #243628;
    --cor5: #2B332C;
    --dou: #ba8b00;
}

main{
    background-color: white;
    width: 800px;
    margin: auto;
    padding: 15px;
}
main > section > h1{
    text-align: center;
    color: var(--cor5);
    padding: 5px;
    font-size: 1.6em;
}
main > section > article > h2{
    text-align: left;
    color: var(--cor4);
    padding: 5px;
    font-size: 1.3em;
}
main > section > article > p{
    text-align: justify;
    text-indent: 20px;
    line-height: 1.5em;
    padding: 5px;
}