*@charset "UTF-8";

:root{
    --cor0: #00E034;
    --cor1: #1EB642;
    --cor2: #2E8B44;
    --cor3: #30613C;
    --cor4: #243628;
    --cor5: #2B332C;
    --dou: #ba8b00;
    --fonth1: 'Prata';
}

main{
    min-width: 320px;
    max-width: 700px;
    margin: auto;
    background-color: white;
    padding: 5px 30px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.534);
}
main > section > h1{
    font-family: var(--fonth1);
    text-align: center;
    color: var(--cor5);
    padding: 5px;
    font-size: 1.6em;
}
main > section > article > h2{
    text-align: left;
    color: var(--cor4);
    padding: 5px;
    font-size: 1.3em;
}
main > section > article > p{
    text-align: justify;
    text-indent: 20px;
    line-height: 1.5em;
    padding: 5px;
}